.navbar {
  height: 12rem;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #32495c;
  margin-left: 2rem;
  font-weight: 500;
}

a:hover {
  color: #32495c80;
}
